
.root-bg-color { -fx-background-color: #F8F6F4; }
.primary-color { -fx-background-color: #C4DFDF; }
.secondary-color { -fx-background-color: #D2E9E9; }
.tertiary-color { -fx-background-color: #E3F4F4; }
.text-color { -fx-text-fill: black; }

.root {
    -fx-font-family: "Segoe UI", Arial, sans-serif;
    -fx-background-color: #F8F6F4;
}

.label {
    -fx-text-fill: #333;
}

.button {
    -fx-background-color: #C4DFDF;
    -fx-text-fill: black;
    -fx-border-color: transparent;
    -fx-border-width: 2;
    -fx-padding: 5 15;
}

.button:hover {
    -fx-background-color: #B3CCCC;
}

.combo-box {
    -fx-background-color: #E3F4F4;
    fx-text-fill: black;
}

.header {
    -fx-background-color: #F8F6F4;
    fx-text-fill: black;
    -fx-padding: 10;
}

.day-label, .week-label, .month-label {
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.schedule-grid {
    -fx-grid-lines-visible: true;
    -fx-border-color: #D2E9E9;
    -fx-background-color: #E3F4F4;
}

.calendar-grid {
    -fx-grid-lines-visible: false;
    -fx-border-color: #D2E9E9;
    -fx-background-color: #E3F4F4;
}

.event-label {
    -fx-background-color: #C4DFDF;
    -fx-wrap-text: true;
    -fx-text-fill: #333;
    -fx-padding: 15;
    -fx-border-color: #D2E9E9;
    -fx-border-width: 1;
}
.event-count-label {
    -fx-text-fill: #333;
    -fx-font-size: 15px;
}
.day-cell {
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-font-size: 20px;
}

.time-label {
    -fx-font-weight: normal;
    -fx-text-fill: #333;
}

.combo-box .list-cell {
    -fx-padding: 5 10;
}

.combo-box .list-cell:filled:selected, .combo-box .list-cell:filled:selected:hover {
    -fx-background-color: #F8F6F4;
    -fx-text-fill: black;
}
