.root-bg-color { -fx-background-color: #fae9ff; }
.primary-color { -fx-background-color: #f7deff; }
.secondary-color { -fx-background-color: #f6d9ff; }
.tertiary-color { -fx-background-color: #e4ccec; }
.text-color { -fx-text-fill: black; }

.root {
    -fx-font-family: "Segoe UI", Arial, sans-serif;
    -fx-background-color: #fae9ff;
}

.label {
    -fx-text-fill: black;
}

.button {
    -fx-background-color: #f7deff;
    -fx-text-fill: black;
    -fx-padding: 5 15;
}

.button:hover {
    -fx-background-color: #f6d9ff ;
}

.combo-box {
    -fx-background-color: #f6d9ff;
    -fx-text-fill: black;
    -fx-control-inner-background: #f6d9ff;
}

.header {
    -fx-background-color: #fae9ff;
    -fx-text-fill: black;
    -fx-padding: 10;
}

.scroll-pane {
    -fx-background: #fae9ff;
    -fx-control-inner-background: #fae9ff;
}

.day-label, .week-label, .month-label {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.schedule-grid {
    -fx-grid-lines-visible: false;
    -fx-border-color: #f6d9ff;
    -fx-background-color: #f7deff;
    -fx-control-inner-background: #fae9ff;
}

.calendar-grid {
    -fx-grid-lines-visible: false;
    -fx-border-color: #f6d9ff;
    -fx-background-color: #fae9ff;
    -fx-control-inner-background: #f7deff;
}

.event-label {
    -fx-background-color: #f7deff;
    -fx-wrap-text: true;
    -fx-text-fill: black;
    -fx-padding: 15;
    -fx-border-color: #f6d9ff;
    -fx-border-width: 1;
}

.event-label:hover{
    -fx-background-color: #f6d9ff;
}

.day-cell:hover{
    -fx-background-color:#f6d9ff;
}

.event-count-label {
    -fx-text-fill: black;
    -fx-font-size: 15px;
}

.day-cell {
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-font-size: 20px;
    -fx-background-color: #f7deff;
}

.time-label {
    -fx-font-weight: normal;
    -fx-text-fill: black;
}

.scroll-bar {
    -fx-background-color: #f6d9ff;
}

.scroll-bar .thumb {
    -fx-background-color: #e4ccec;
}

.scroll-bar .track {
    -fx-background-color: #f7deff;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: #f6d9ff;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #d3bfd9;
}

.combo-box .list-cell {
    -fx-padding: 5 10;
    -fx-background-color: #f6d9ff;
    -fx-text-fill: black;
    -fx-control-inner-background: #fae9ff;
}

.combo-box .list-cell:filled:selected, .combo-box .list-cell:filled:selected:hover {
    -fx-background-color: #f7deff;
    -fx-text-fill: black;
    -fx-control-inner-background: #fae9ff;
}

.combo-box .list-view {
    -fx-background-color: #f6d9ff;
}

.combo-box .list-cell {
    -fx-background-color: #f6d9ff;
    -fx-text-fill: black;
}

.combo-box .list-cell:hover {
    -fx-background-color: #e4ccec
}

.combo-box-base {
    -fx-background-color: #fae9ff;
    -fx-text-fill: black;
    -fx-mark-color: black;
}

.combo-box-popup .list-view {
    -fx-background-color: #fae9ff;
}

.combo-box-popup .list-cell {
    -fx-background-color: #fae9ff;
    -fx-text-fill: black;
}

.combo-box-popup .list-cell:filled:selected,
.combo-box-popup .list-cell:filled:selected:hover {
    -fx-background-color: #f7deff;
    -fx-text-fill: black;
}

.combo-box .arrow-button {
    -fx-background-color: #f7deff;
}

.combo-box .arrow {
    -fx-background-color: black;
}

.myDialog {
    -fx-background-color: #fae9ff;
}

.myDialog .header-panel {
    -fx-background-color: #fae9ff;
    -fx-text-fill: black;
}

.myDialog .content-panel {
    -fx-background-color: #fae9ff;
    -fx-text-fill: black;
}

.hyperlink {
    -fx-text-fill: black;
    -fx-underline: true;
}

.hyperlink:hover {
    -fx-text-fill: #2196F3;
}

.hyperlink:visited {
    -fx-text-fill: purple;
}



.login-label {
    -fx-font-size: 24px;
    -fx-text-fill: #333;
}

.login-text, .login-password {
    -fx-pref-width: 200px;
    -fx-pref-height: 40px;
    -fx-border-color: transparent;
    -fx-border-width: 2;
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 0);
    -fx-padding: 4px 10px;
}

.login-text:focused, .login-password:focused {
    -fx-border-color: #e4ccec;
    -fx-border-width: 2px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
}

.login-text:hover, .login-password:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.login-text, .login-password {
    -fx-font-size: 14px;
}

.login-button {
    -fx-pref-width: 200px;
    -fx-pref-height: 40px;
    -fx-background-color: #211f22 ;
    -fx-text-fill: #e4ccec;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
}

.login-button:hover {
    -fx-background-color: #7b6f7f;
}

.text-field {
    -fx-background-color: #f7deff;
    -fx-text-fill: black;
    -fx-prompt-text-fill: derive(-fx-text-fill, 50%);
}

.text-field:focused {
    -fx-background-color: #f6d9ff;
    -fx-border-color: #e4ccec;
}

.text-area {
    -fx-background-color: #f7deff;
    -fx-text-fill: black;
    -fx-prompt-text-fill: derive(-fx-text-fill, 50%);
}

.text-area:focused {
    -fx-background-color: #f6d9ff;
    -fx-border-color: #e4ccec;
}

.date-picker {
    -fx-background-color: #f7deff;
    -fx-control-inner-background: #f7deff;
    -fx-text-fill: black;
}

.date-picker .text-field {
    -fx-background-color: #f7deff;
    -fx-text-fill: black;
}

.date-picker .button {
    -fx-background-color: #f7deff;
    -fx-text-fill: black;
    -fx-mark-color: black;
}

.date-picker .button:hover {
    -fx-background-color: #f6d9ff;
}

.date-picker .month-year-pane {
    -fx-background-color: #fae9ff;
}

.date-picker .day-cell {
    -fx-background-color: #f7deff;
    -fx-text-fill: black;
}

.date-picker .day-cell:focused {
    -fx-background-color: #f6d9ff;
}

.date-picker .day-cell:selected, .date-picker .day-cell:selected:hover {
    -fx-background-color: #e4ccec;
    -fx-text-fill: black;
}

.date-picker .day-cell {
    -fx-background-color: #f7deff;
    -fx-text-fill: #2196F3;
}

.date-picker .day-cell:selected, .date-picker .day-cell:selected:hover {
    -fx-background-color: #e4ccec;
    -fx-text-fill: black;
}
